[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pip-licenses = "*"
pipenv-setup = "*"
mypy = "*"

[packages]
paho-mqtt = "==1.4.0"
requests = "*"
cryptography = "*"
jsonschema = "==3.2.0"

[requires]
python_version = "3.7"
